@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    padding: 4px;
    gap: 4px;
    margin: 0;
    border: 1px solid grey;
    height: calc(100vh - 5px);
}

.sidebar {
    background-color: wheat;
    grid-area: 1 / 1 / 6 / 2;
}

.header {
    background-color: salmon;
    grid-area: 1 / 2 / 2 / 6;
}

.content {
    grid-area: 2 / 2 / 6 / 6;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.mid {
    background-color: cadetblue;
    grid-area: 1 / 1 / 7 / 4;
}

.projects {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3px;
    row-gap: 3px;
    height: calc(100% - 80px);
    margin: 5px;
}

.project-card {
    background-color: palegoldenrod;
    margin: 5px;
    border-radius: 5px;
    
}

.right-bar {
    background-color: cornflowerblue;
    grid-area: 1 / 4 / 7 / 5;
}

h5 {
}
